<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link href=../css/login.css rel="stylesheet"/>
</head>

<body>
<div id="bigBox">
    <h1>用户注册</h1>

    <form id="loginform" action="./../controller/login/register.php" method="post">
        <div class="inputBox">

            <div class="inputText">
                <input type="text" id="username" name="username" placeholder="Username" value="">
            </div>
            <div class="inputText">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <br >
            <div class="register">
                <a href="./login.html" style="color: white">登录账号</a>
            </div>
        </div>
        <div>
            <input type="submit" id="register" name="register" value="注册" class="loginButton m-left">
            <input type="reset" id="reset" name="reset" value="重置" class="loginButton">
        </div>
    </form>
</div>
</body>
</html>